<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page #1</title>

    <style>
        {#asset dw-monthly-report-styles.css @encoding=utf8}
    </style>
  </head>

  <body>
    <section id="report-page-1" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">1</span>
            </div>

            <h1 class="reporting-page-header-title">
              Global Monthly Dark Web Summary
            </h1>
          </div>

          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <header class="report-page-article-header">
            <h2 class="report-page-article-title">Dark Web Overview</h2>
            <h3 class="report-page-article-subtitle">Month/Year</h3>
          </header>

          <p class="report-page-article-content">
            The Dark Web never sleeps. To highlight the severity of the Dark
            Web’s popularity, we’ve provided a summary of all the breached
            information posted to the Dark Web in the month of ____. Compare
            your organization-wide results found on page 3.
          </p>

          <div class="report-section-group-cards">
            <div class="report-section-group-cards-col">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-exposed-passwords.svg @encoding=dataURI}"
                    alt="Exposed Passwords"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Exposed Passwords</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >125</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Month/Year</span
                      >
                    </div>
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >300</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Total-to-date</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-monitor.svg @encoding=dataURI}"
                    alt="Compromised Email Credentials"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Total Data Breaches</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >125</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Month/Year</span
                      >
                    </div>
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >300</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Total-to-date</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="report-page-article_1">
            <header class="report-page-article-header">
              <h2 class="report-page-article-title">Dark Web Trends</h2>
              <h3 class="report-page-article-subtitle">Previous 6-Months</h3>
            </header>

            <p class="report-page-article-content">
              Our human operatives are constantly scouring the Dark Web for
              newly exposed data. Here’s a look at what they’ve uncovered over
              the past six months. Understanding the previous Dark Web posting
              trends can help forecast risks
            </p>
          </div>

          <img
            id="report-page-1-graphic"
            src="{#asset ./assets/img-page-1-graphic.png @encoding=dataURI}"
            alt="Graphic"
          />
        </main>

        <footer class="reporting-footer">
          <span>Client Name</span>
          <span>Date</span>
          <span>By: Partner Name</span>
        </footer>
      </div>
    </section>

    <section id="report-page-2" class="reporting-page page-break">
      <div class="reporting-page-content">
        <header class="reporting-page-header">
          <div class="reporting-page-header-content">
            <div class="reporting-page-header-number-circle">
              <span class="reporting-page-header-number-circle_value">2</span>
            </div>

            <h1 class="reporting-page-header-title">
              Top industries attacked in the last 12 months
            </h1>
          </div>

          <img
            class="reporting-page-header-logo"
            src="{#asset ./assets/img-your-logo-here.png @encoding=dataURI}"
            alt="Logo"
          />
        </header>

        <main>
          <p class="report-page-article-content">
            Some industries have more of a target on their back than others.
            Here’s a closer look at the top attacked industries in the last 12
            months.
          </p>

          <div class="report-section-group-cards">
            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-adult-industry.svg @encoding=dataURI}"
                    alt="Exposed Passwords"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Adult Industry</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >5837</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-business.svg @encoding=dataURI}"
                    alt="Compromised Email Credentials"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Business and Economy</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >10335</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-educational.svg @encoding=dataURI}"
                    alt="Educational Institutions"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Educational Institutions</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >4758</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-forums.svg @encoding=dataURI}"
                    alt="Forums"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title">Forums</span>
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >16677</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-games.svg @encoding=dataURI}"
                    alt="Games"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title">Games</span>
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >8424</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-not-available.svg @encoding=dataURI}"
                    alt="Not Available"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Not Available</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >683807</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-personals.svg @encoding=dataURI}"
                    alt="Personals and Dating"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Personals and Dating</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >85407</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-search-engines.svg @encoding=dataURI}"
                    alt="Search Engines and Portals"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Search Engines and Portals</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >5946</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-shopping.svg @encoding=dataURI}"
                    alt="Shopping"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Shopping</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >6110</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-social-networking.svg @encoding=dataURI}"
                    alt="Social Networking"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Social Networking</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >23696</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="report-section-group-cards-row">
              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-society.svg @encoding=dataURI}"
                    alt="Society and Lifestyle"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Society and Lifestyle</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >73772</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="report-card">
                <div class="report-card-left-image">
                  <img
                    class="report-card-image"
                    src="{#asset ./assets/img-streaming.svg @encoding=dataURI}"
                    alt="Streaming Media"
                  />
                </div>

                <div class="report-card-content">
                  <header class="report-card-content-header">
                    <span class="report-card-content-header-title"
                      >Streaming Media</span
                    >
                  </header>

                  <div class="report-card-content-info">
                    <div class="report-card-content-info-unit">
                      <span class="report-card-content-info-unit_value"
                        >4491</span
                      >
                      <span class="report-card-content-info-unit_label"
                        >Breaches</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <footer class="reporting-footer">
          <span>Client Name</span>
          <span>Date</span>
          <span>By: Partner Name</span>
        </footer>
      </div>
    </section>
  </body>
</html>
