<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset report-ui-styles.css @encoding=utf8}
        </style>
    </head>

    <body>
        <section id="reporting-page-1">
            <header id="reporting-section-1">
                <img class="reporting-section-header-logo_first-page" src="{#asset ./assets/img-your-logo-here-2x.png @encoding=dataURI}" 
                    style="width:100%; max-width:300px;" 
                    alt="Logo"
                />
            
                <h1 class="reporting-section-header-title_first-page">
                    Dark Web <br> Status Report
                </h1>
            
                <div class="reporting-section-header-dropline_first-page">
                    <span class="reporting-section-header-dropline-client_first-page">Client Name</span> 
                    <span class="reporting-section-header-dropline-period_first-page">August/2020</span>
                </div>
            </header>

            <section>
                <article class="reporting-section-article">
                    <div class="reporting-section-article-image">
                        <img src="{#asset ./assets/person-office.svg @encoding=dataURI}" alt="person office">
                    </div>
                    <div class="reporting-section-article-content">
                        <section>
                            <div class="reporting-section-article-header">
                                <h1>The importance of report</h1>
                            </div>
                            <div class="reporting-section-article-text">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit, Illum
                                    dolor explicabo amet ipsam, impedit, accusamus officiis unde
                                    voluptates culpa odio, odit qui minima minus! Dolorem quaerat
                                    repellat odit labore optio.
                                </p>
                            </div>
                        </section>
                        <section>
                            <div class="reporting-section-article-header">
                                <h1>How to use the content?</h1>
                            </div>
                            <div class="reporting-section-article-text">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit, Illum
                                    dolor explicabo amet ipsam, impedit, accusamus officiis unde
                                    voluptates culpa odio, odit qui minima minus! Dolorem quaerat
                                    repellat odit labore optio.
                                </p>
                            </div>
                        </section>
                    </div>
                </article>
            </section>

            <footer class="reporting-footer">
                <span>Client Name</span>
                <span>Date</span>
                <span>By: Partner Name</span>
            </footer>
        </section>

        <section id="reporting-page-2">
            <header class="reporting-header-page">
                <div class="reporting-header-number-topic">
                    <span class="reporting-header-number-topic-value">1</span>
                </div>
                <div class="">
                    <div>
                        <h1>Monthly Dark Web Activity Summary</h1>
                    </div>
                    <div>
                        <img src="" alt="company logo">
                    </div>
                </div>
            </header>

        </section>
    </body> 
</html>